.loading {
  position: fixed;
  top: 35%;
  left: 43%;
z-index: 9999;
}

.result-fade{opacity: .5;pointer-events: none;scroll:none;}

.loader-bg{background: #257D7D;
    height: 150px;
width: 200px;
    padding: 13px inherit;
    border-radius: 6px;
    
    text-align: center;

}

.clrfix{
	clear:both;
	padding:20px;
}


.loading-bar {
  display: inline-block;
  width: 6px;
  height: 25px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(3) {
  background-color: white;
  animation-delay: 0;
}
.loading-bar:nth-child(4) {
  background-color: white;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(5) {
  background-color: white;
  animation-delay: .18s;
}
.loading-bar:nth-child(6) {
  background-color: white;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}